html{
    margin: 0 auto;
    padding: 0;
}

body{
    width: 98%;
    height: 100vh;
    background-image: linear-gradient(#10561f84 , #7ee70674);
    align-items: center;
    text-align: center ;
    border: 2px black solid;
}

/* div photo */
.photo{
    margin: 0;
    padding: 0;
    border: 2px black solid;
    display: list-item;
}

.photos{
    width: 250px;
    height: 230px;
}